.banner{
    width: 100%;
    height: 404px;
    background: #dcd1d0;
    overflow: hidden;
}
.banner-content{
    width: 1062px;
    height: 380px;
    margin: 0 auto;
    margin-top: 10px;
   
}
.banner-content-l{
    width: 189px;
    height: 100%;
    background: #ffffff;
    float: left;
}
.banner-content-l>p{
    line-height: 42px;
}
.banner-content-l>p::after{
    content: '>';
    float: right;
}
.banner-content-l>p:hover{
    background: #fff1f5;
}
.banner-content-r{
    width: 868px;
    height: 100%;
    background: #ffffff;
    float: right;
}
.banner-content-r>img{
    width: 100%;
    height: 264px;
    margin-bottom: 8px;
}
.banner-content-r>.list{
    width: 100%;
    height: 104px;
    background: #dcd1d0;
    
}
.banner-content-r>.list>dl{
    float: left;
    padding-left: 14px;
    box-sizing: border-box;
    width: 204px;
    margin-right: 7px;
    height: 100px;
    background: #ffffff;
    margin-top: 4px;
}
.banner-content-r>.list>dl>dt{
    float: right;
}
.banner-content-r>.list>dl>dt>img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 14px;
}
.banner-content-r>.list>dl>dd{
    float: left;
}
.banner-content-r>.list>dl>dd>p:nth-child(1){
    margin-top:25px ;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.banner-content-r>.list>dl>dd>p:nth-child(2){
    color:#b4b4b4 ;
    font-size: 14px;
}
.banner-content-r>.list>dl:last-child{
    width: 446px;
    margin-right: 0;
}
.banner-content-r>.list>dl:last-child>dt>img{
    float: left;
    width: 65px;
    height: 86px;
    border-radius: 0;
    margin-right: 14px;
}
.main{
    width: 100%;
    background: #f3f3f3;
}
.main-content{
    margin: 0 auto;
    width: 1060px;
    overflow: hidden;
}
.list-content{
    width: 100%;
    height: 320px;
   background: #ffffff;
    margin-top: 20px;
}
.list-content>p{
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 18px;
}
.list-content>p>img{
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.list-content>p>a{
    width: 52px;
    height: 24px;
    float: right;
    border: solid 1px #cccccc;
    line-height: 24px;
    font-size: 12px;
    margin-top: 19px;
    margin-right: 20px;
    border-radius: 12px;
}
.list-content>ul>li{
    width: 152px;
    position: relative;
    float: left;
    margin-right: 20px;
}
.list-content>ul>li>div>p{
    color: #feddf2;

}
.list-content>ul>li:nth-child(1){
    margin-left: 20px;
}

.list-content>ul>li>img{
    width: 152px;
    height: 202px;
   
   

}
.list-content>ul>li>p:nth-of-type(1){
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 7px;
}
.list-content>ul>li>p:nth-of-type(2)>span{
    font-size: 14px;
    font-weight: bold;
}
.list-content>ul>li>p:nth-of-type(2)>span>em{
    font-size: 12px;
    font-weight: normal;
}
.list-content>ul>li>p:nth-of-type(2)>del{
    font-size: 12px;
    color: #cccccc;     
}
.list-content>ul>li>.safe{
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 43px;
    background:#ea3667 ;
}





